<footer class="bottom-menu">
  <a href="/admin/dashboard" class="link <%= active_menu?(@current_page, 'dashboard') %>">
    <i class="ion-ios-home"></i>
    <span class="text">Dashboard</span>
  </a>
  <a href="/admin/polls" class="link <%= active_menu?(@current_page, 'polls') %>">
    <i class="ion-ios-list"></i>
    <span class="text">Polls</span>
  </a>
</footer>
