<section style="margin-bottom: 0px;">
  <label class="input col-lg-11 col-md-11 col-sm-11 col-xs-11 field_choice">
    <%= f.input :title, label: false, required: false, input_html: { placeholder: "title", :'data-parsley-required' => true } %>
  </label>

  <label class="col-lg-1 col-md-1 col-sm-1 col-xs-1 remove_field_choice">
    <%= f.link_to_remove "<i class='fa fa-times fa-2x txt-color-red'></i>".html_safe, class: "removeclass", id: 'remove_choice' %>
  </label>

  <label class="input col-lg-11 col-md-11 col-sm-11 col-xs-11 field_choice">
    <%= f.input :detail, label: false, required: false, input_html: { placeholder: "detail", :'data-parsley-required' => true } %>
  </label>
  
</section>

