<div class="container">

  <div class="row" style="margin-top: 60px;">
    <div class="col-md-6">
      <div class="well">
        <a href="<%= feedback_dashboard_path %>" class="btn btn-primary btn-lg" style="width: 100%;">
          Feedback Location
        </a>
        <div class="note">For Feedback of Location</div>
      </div>
    </div>
    
    <div class="col-md-6">
      <div class="well">
        <a href="<%= company_dashboard_path %>" class="btn btn-success btn-lg" style="width: 100%;">
          Internal Survey
        </a>
        <div class="note">For Internal Survey</div>
      </div>
    </div>
  </div>

</div>