.admin-container{
  display: flex;
  flex-flow: column;
  overflow: hidden;
  height: 100vh;

  > .main-container {
    display: flex;
    flex-flow: row;

    > .content {
      flex-grow: 1;
      overflow: scroll;
    }
  }
}
