.app-container {
  @include container(2rem);

  padding: calc(1rem + #{$navbar-height}) 0 1rem;
  min-height: calc(100% - #{$navbar-height});
}

.app-container.admin {
  padding: 0;
  min-height: 100%;

  > .content {
    padding: calc(1rem + #{$navbar-height}) 1rem calc(1rem + #{$bottom-menu-height});
  }
}
