.bottom-menu {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;

  border-top: 1px solid #dddddd;
  padding: .3rem 0;
  flex: 0 0 44px;
  height: 44px;

  background: white;

  > .link {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;

    max-height: 100%;
    flex: 1 1 100px;

    color: #999999;

    > .fa {
      margin: 0 0 .1rem;
      font-size: 1.4rem;
    }

    > .text {
      font-size: .6rem;
    }

    &.active {
      color: $brand-primary;
    }
  }
}
