.dashboard-container {
  padding: 1rem;
  width: 100%;
  font-weight: 300;

  > .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
  }

  > .subtitle {
    font-size: 1.5rem;
    margin: 0 0 1rem;
  }

  > .stats-list {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    margin: 0 0 3rem;

    > .stats-container {
      @include card-container(1rem);

      &:not(:last-child) {
        margin: 0 0 1rem;
      }

      > .counter {
        font-size: 2.5rem;
      }

      > .desc {
        color: lighten($label-color, 30%);
      }
    }
  }
}
