.icon-button {
  display: flex;

  border-left: 3px solid transparent;
  padding: 15px 20px;
  color: #BBBBBB;

  &:hover,
  &:focus,
  &:active,
  &.active {
    border-left-color: $primary-color;
    color: #EEEEEE;
    text-decoration: none;
  }


  > .fa {
    font-size: 18px;
    margin-right: 15px;
  }
}