.links-bar {
  display: flex;
  flex-flow: row nowrap;
  > .links-app {
    flex-shrink: 1;
    max-width: 160px;
    max-height: 120px;
    margin-right: 20px;
  }
  > .qrcode {
    margin-left: auto;
    max-width: 120px;
    max-height: 120px;
    flex: 0 0 120px;
  }
  @media (max-width: $screen-sm) {
    > .qrcode {
      max-width: 80px;
      max-height: 80px;
    }
  }
}
