.navbar-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  border-bottom: 1px solid darken($color-primary, 3%);
  padding: 0 1rem;
  height: $navbar-height;

  background: $color-primary;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);

  > .logo {
    padding: .3rem 0;
    height: $navbar-height;
  }
}

.navbar-container > .member {
  @include dropdown-container($navbar-height, block, auto, 0, 200px);

  margin: 0 0 0 auto;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;

  height: 100%;

  > .avatar {
    margin: 0 1rem 0 0;

    border: 1px solid #dddddd;
    border-radius: 2px;
    width: 32px;
    height: 32px;
  }

  > .name {
    color: white;
    align-self: center;
  }
}

.navbar-container > .member > .dropdown {
  border-radius: 2px;
  background: white;
  text-align: left;

  box-shadow: 0 4px 12px rgba(0,0,0,.2);

  > .menu {
    @include list-item;

    &:hover {
      background: #efefef;
    }
  }
}
