.poll-container {
  @include card;

  margin: 0 auto;
  max-width: 640px;

  background: white;

  > .creator {
    @include card-header;
  }
}

.poll-container > .content {
  @include card-body;

  > .question {
    font-weight: 300;
  }

  > .image {
    margin: 0 0 1rem;

    border: 1px solid #dddddd;
    width: 100%;
  }

  > .choice {
    display: block;

    margin: 0 0 1rem;

    border-bottom: 5px solid #cccccc;
    padding: 1rem 2rem;

    font-size: $font-size-sub-title - .7;
    font-weight: 300;
    background-color: #dddddd;
  }
}

.poll-container > .content > .portals {
  display: flex;
  flex-flow: row nowrap;
  margin: 3rem 0 0;

  > .app,
  > .qrcode {
    max-width: 200px;
    width: 50%;
  }

  > .app {
    margin: 0 1rem 0 0;
  }

  > .qrcode {
    margin: 0 0 0 auto;
  }
}

.poll-container > .content > .portals > .app {
  > .link {
    display: block;
    margin: 0 0 1rem;
  }
}