.qrcode-modal {
  display: flex;
  flex-flow: column;

  > .title {
    margin:  0 0 2rem;
    font-size: 2rem;
    text-align: center;
  }

  > .title > .app {
    color: $primary-color;
    font-weight: bold;
  }

  > .qrcode-container {
    order: 2;
  }

  > .use-app-container {
    order: 1;
    margin: 0 0 1.5rem;

    > .links {
      display: flex;
      flex-flow: row;
      > .link {
        display: block;

        &:not(:last-child) {
          margin: 0 1rem 0 0;
        }

        > img {
          max-width: 100%;
        }
      }
    }
  }

  > .qrcode-container,
  > .use-app-container {
    > .header {
      margin: 0 0 .5em;

      font-size: 1.2rem;
      font-weight: 300;
      text-align: center;
    }
  }
}

@media (min-width: 768px) {
  .qrcode-modal {
    > .qrcode-container {
      order: 1;
      margin: 0 0 1.5rem;
    }

    > .use-app-container {
      order: 2;
      margin: 0 auto;

      max-width: 360px;
    }
  }
}
