.signin-container {
  @include card(0 auto);

  max-width: 500px;

  > .header {
    @include card-header;
  }
}

.signin-container > .body {
  @include card-body;

  > .action {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;

    margin-left: auto;

    width: 100%;
  }

  > .action > a {
    margin-right: 1rem;
  }

  > .action > .submit {
    @include button($color-primary, #ffffff);

    margin: 0 0 0 1rem;
  }
}
