.stats-container {
  @include card-container(1rem);

  &:not(:last-child) {
    margin: 0 0 1rem;
  }

  > .counter {
    font-size: 2.5rem;
  }

  > .desc {
    color: lighten($label-color, 30%);
  }
}
