.stats-dashboard-row {
  display: flex;
  flex-flow: row nowrap;

  margin-bottom: 25px;

  > .stats-container {
    flex: 1 1 auto;
    max-width: 33.33%;
  }

  > .stats-container:not(:last-child) {
    margin-right: 25px;
  }

  @media (max-width: $screen-sm) {
    flex-flow: column nowrap;

    > .stats-container {
      max-width: 100%;
    }

    > .stats-container:not(:last-child) {
      margin-right: 0;
      margin-bottom: 25px;
    }
  }
}
