<h1>Polls Overview</h1>
<div class="stats-list">
  <div class="stats-container">
    <h2 class="counter">203</h2>
    <div class="desc">
      Polls have been voted.
    </div>
  </div>
</div>
<h3 class="title">Popular polls</h3>
<div class="poll-list">
  <div class="poll header">
    <div class="title">Title</div>
    <div class="vote">Vote</div>
  </div>
  <div class="poll">
    <div class="title">Poll Title 1</div>
    <div class="vote">30</div>
  </div>
  <div class="poll">
    <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptatum at temporibus deleniti suscipit quidem</div>
    <div class="vote">30</div>
  </div>
  <div class="poll">
    <div class="title">Poll Title 1</div>
    <div class="vote">30</div>
  </div>
  <div class="poll">
    <div class="title">Poll Title 1</div>
    <div class="vote">30</div>
  </div>
  <div class="poll">
    <div class="title">Poll Title 1</div>
    <div class="vote">30</div>
  </div>
</div>

<h3 class="title">Recent polls</h3>
<div class="poll-list">
  <div class="poll header">
    <div class="title">
      Title
    </div>
    <div class="vote">Vote</div>
  </div>
  <div class="poll">
    <div class="title">
      Poll Title 1
      <div class="creator">Creator username</div>
    </div>
    <div class="vote">30</div>
  </div>
  <div class="poll">
    <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptatum at temporibus deleniti suscipit quidem</div>
    <div class="vote">30</div>
  </div>
  <div class="poll">
    <div class="title">Poll Title 1</div>
    <div class="vote">30</div>
  </div>
  <div class="poll">
    <div class="title">Poll Title 1</div>
    <div class="vote">30</div>
  </div>
  <div class="poll">
    <div class="title">Poll Title 1</div>
    <div class="vote">30</div>
  </div>
</div>

<h3 class="title">Most dissussion</h3>
<div class="poll-list">
  <div class="poll header">
    <div class="title">Title</div>
    <div class="vote">Vote</div>
  </div>
  <div class="poll">
    <div class="title">Poll Title 1</div>
    <div class="vote">30</div>
  </div>
  <div class="poll">
    <div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates voluptatum at temporibus deleniti suscipit quidem</div>
    <div class="vote">30</div>
  </div>
  <div class="poll">
    <div class="title">Poll Title 1</div>
    <div class="vote">30</div>
  </div>
  <div class="poll">
    <div class="title">Poll Title 1</div>
    <div class="vote">30</div>
  </div>
  <div class="poll">
    <div class="title">Poll Title 1</div>
    <div class="vote">30</div>
  </div>
</div>