<section class="section-container">
  <h1 class="title">Polls</h1>
  <div>
    <div class="stats-container">
      <div class="counter">
        203
      </div>
      <div class="desc">
        Vote happened.
      </div>
    </div>
    <div class="stats-container">
      <div class="counter">
        100
      </div>
      <div class="desc">
        Poll created.
      </div>
    </div>
    <div class="stats-container">
      <div class="counter">
        60
      </div>
      <div class="desc">
        Active users.
      </div>
    </div>
  </div>
</section>
