<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<link rel="stylesheet" type="text/css" media="screen" href="/smartadmin/css/bootstrap.min.css" data-turbolinks-track="true">
<link rel="stylesheet" type="text/css" media="screen" href="/smartadmin/css/font-awesome.min.css" data-turbolinks-track="true">

<div class="container">
<h1><center><b>Privacy Policy</b></center></h1>

</div>