$primary-color: #D32053;
$brand-primary: $primary-color;
$gray-border-color: #CCCCCC;
$gray-bg-color: #DDDDDD;
$btn-padding: 8px 12px;
$label-color: #444444;
$input-padding: 6px 12px;


$z-index-navbar: 9999;
$z-index-sidebar: 9990;
$z-index-overlay: 9980;