/* here you can put your own css to customize and override the theme */


.dash {
  width: 40px;
  height: 54px;
  background: transparent url('/img/countdown/dash2.png') 0 0 no-repeat;
  float: left;
  margin-left: 20px;
  position: relative;
}

.dash .digit {
  margin-top: 4px;
  font-size: 13pt;
  font-weight: bold;
  float: left;
  width: 20px;
  text-align: center;
  font-family: Times;
  color: #555;
  position: relative;
}

.dash_title {
  position: absolute;
  display: block;
  bottom: 0px;
  right: -1px;
  font-size: 6pt;
  color: #555;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}