<form method="post" action="/auth/sign_in" class="signin-container">
  <h5 class="title">Sign in to vote</h5>
  <div class="body">
    <div class="input-group">
      <label class="label">Email</label>
      <input placeholder="example@mail.com" type="email" name="email" class="input">
    </div>
    <div class="input-group">
      <label class="label">Password</label>
      <input type="password" name="password" class="input">
    </div>
    <%= token_tag %>
    <div class="action">
      <a href="/auth/sign_up?redirect_path=<%= @poll.url %>" class="register">Register</a>
      or
      <button type="submit" class="submit">Sign in</button>
    </div>
  </div>
</form>
