<!-- DELETE THIS SHIT WHEN NEW LANDING PAGE DESIGN COMPLETE -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pollios : Raise Your Hand</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="keywords" content="Pollios">
    <meta name="google" value="notranslate">

    <meta name="content owner" content="Pollios">
    <meta name="author" content="Pollios">
    <meta name="og:title" content="Pollios : Raise Your Han">
    <meta name="og:description" content="Raise your hand. Your voice matters. Join us and vote!">
    <meta name="og:site_name" content="Pollios : Raise Your Hand">
    <meta name="og:type"   content="website" />
    <meta name="og:url"    content="http://www.pollios.com" />
    <meta name="og:image"  content="http://www.pollios.com/images/logo/1024logo.png" />

    <meta name="google-site-verification" content="I2xo0fFPaR3DKiQhcqD5MnlpSUUKDnEQMksDzYVTJnM" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- Bootstrap core CSS -->
    <link href="../assets/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/non-responsive.css" rel="stylesheet">
    <link href="../assets/css/fonts.css" rel="stylesheet">
    <link href="../assets/css/default.css" rel="stylesheet">
    <link href="../assets/css/home.css" rel="stylesheet">
    <link href="../assets/css/retina.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/vendor/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/vendor/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../assets/js/vendor/html5shiv.min.js"></script>
      <script src="../assets/js/vendor/respond.min.js"></script>
      <script src="../assets/js/vendor/modernizr-2.8.2.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tag %>
  </head>

  <body>
    <%= yield %>
    <script src="../assets/js/vendor/jquery.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.min.js"></script>
    <script src="../assets/js/vendor/jquery.touchSwipe.min.js"></script>
    <script src="../assets/js/vendor/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="../assets/js/home.js"></script>
  </body>
</html>
