<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Pollios</title>
  <link rel="stylesheet" type="text/css" href="/css/app.css" data-turbolinks-track="true">
</head>
<body>
  <nav class="navbar-container">
    <a href="/" class="logo">
      <img src="http://pollios.com/assets/pollios_webLogo@2x-2bb08c5287b8429c2b2c5a3bc4a5d433.png" class="logo">
    </a>
  </nav>
  <div class="app-container">
    <%= yield %>
  </div>
  <footer class="footer-container">
    Pollios © 2016
  </footer>
</body>
</html>