<div class="well" style="margin-top: 30px;">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Choice</th>
        <th>Select?</th>
      </tr>
    </thead>
    <tbody>
      <% @choices.each do |choice| %>
      <tr>
        <td><%= choice.answer %></td>
        <td><input type="checkbox" name="choice_id[]" value="<%= choice.id %>">
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>
