@mixin button($color: #dddddd, $font-color: #444444, $padding: .5rem .8rem) {
  border: 1px solid darken($color, 8%);
  border-radius: 2px;
  padding: $padding;

  color: $font-color;
  background: $color;

  &:hover {
    background: darken($color, 8%)
  }
}

@mixin button-ghost($color: #dddddd, $padding: .5rem .8rem) {
  border: 1px solid $color;
  border-radius: 2px;
  padding: $padding;

  color: $color;

  &:hover {
    color: #ffffff;
    background: $color;
  }
}
