@mixin section-container($padding: 1rem) {
  padding: $padding;
  width: 100%;

  font-weight: 300;
}

@mixin card-container($padding: 0) {
  border: 1px solid;
  border-color: #e5e6e9 #dfe0e4 #d0d1d5;
  border-radius: 2px;
  padding: $padding;

  background-color: #FFFFFF;
}
