@mixin input($color, $padding: $input-padding) {
  display: block;
  border: 1px solid $gray-border-color;
  padding: $padding;

  width: 100%;
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }

  &:focus,
  &:active {
    border: 1px solid $color;
  }
}