@mixin lists($margin: 1rem, $padding: 1rem) {
  @include card-container($padding);

  display: flex;
  flex-flow: column;

  margin: $margin;
}

@mixin list-item($margin: 1rem, $padding: .5rem 1rem) {
  display: flex;
  flex-flow: row;
  align-items: center;

  margin: $margin;
  padding: $padding;
  min-height: 32px;

  font-size: .9rem;
  line-height: 1.4;
}
