<div class="body-container">
  <form class="signin-container" method="post" novalidate>
    <h4 class="title">Sign in</h4>
    <%= render(:partial => "v1/partials/flash_message", :locals => {:type => 'error'}) if session.key?(:flash_message) %>
    <div class="input-group">
      <label class="label">Email</label>
      <input type="email" name="email" class="input">
    </div>
    <div class="input-group">
      <label class="label">Password</label>
      <input type="password" name="password" class="input">
    </div>
    <div class="input-group">
      <input id="remember" name="remember" type="checkbox">
      <label for="remember" class="checkbox"> Remember me</label>
    </div>
    <%= token_tag %>
    <button type="submit" class="submit">Sign in</button>
  </form>
</div>
