<div class="title">Overview</div>
<div class="stats-dashboard-row">
  <div class="stats-container">
    <div class="counter">
      14,304
    </div>
    <div class="desc">
      Vote happened.
    </div>
    <div class="graph"
      pollios-chart
      color="#D32053"
      label='["label1","label2"]'
      data="[1,2]"></div>
  </div>
  <div class="stats-container">
    <div class="counter">
      302
    </div>
    <div class="desc">
      Poll created.
    </div>
    <div class="graph"]
      pollios-chart
      color="#8BC34A"
      label='["1","2","2","2","2","2","2","2"]'
      data="[1,2,7,4,3,7,8,3]"></div>
  </div>
  <div class="stats-container">
    <div class="counter">
      1,603
    </div>
    <div class="desc">
      Active users.
    </div>
    <div class="graph"
      pollios-chart
      color="#FFC107"
      label='["label1","label2"]'
      data="[1,2]"></div>
  </div>
</div>