<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- So that mobile will display zoomed in -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- enable media queries for windows phone 8 -->
    <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS -->
    <title>Pollios</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://pollios.com/css/email_styles.css' rel='stylesheet' type='text/css'>
    <link href='http://pollios.com/css/email_responsive.css' rel='stylesheet' type='text/css'>
  </head>
  <body style="margin:0; padding:0;" bgcolor="#F0F0F0" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
    <!-- 100% background wrapper (grey background) -->
    <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#F0F0F0">
      <tr>
        <td align="center" valign="top" bgcolor="#F0F0F0" style="background-color: #F0F0F0;">
          <br>
          <!-- 600px container (white background) -->
          <table border="0" width="600" cellpadding="0" cellspacing="0" class="container">
            <tr>
              <td class="container-padding header" align="left">
                Pollios
              </td>
            </tr>
            <tr>
              <td class="container-padding content" align="left">
                <br>
                <div class="title">Hi, <%= @member.get_name %></div>
                <br>
                <div class="body-text">
                  <p>To reset your password click the URL below.</p>
                  <p class="callout">
                    <b>Reset password:</b> <a href="<%= users_resetpassword_url(@password_reset_token) %>">Click it! &raquo;</a>
                  </p>
                  <p>If you did not request your password to be reset please ignore this email and your password will stay as it is.</p>
                  <br><br>
                </div>
              </td>
            </tr>
            <!--             <tr>
              <td class="container-padding footer-text" align="left">
                <br><br>
                Sample Footer text: &copy; 2014 Acme, Inc.
                <br><br>
                You are receiving this email because you opted in on our website. Update your <a href="#">email preferences</a> or <a href="#">unsubscribe</a>.
                <br><br>
                <strong>Acme, Inc.</strong><br>
                <span class="ios-footer">
                  123 Main St.<br>
                  Springfield, MA 12345<br>
                </span>
                <a href="http://www.acme-inc.com">www.acme-inc.com</a><br>
                <br><br>
              </td>
            </tr> -->
            </table><!--/600px container -->
          </td>
        </tr>
        </table><!--/100% background wrapper-->
      </body>
    </html>