<div class="poll-container">
  <div class="voter-container">
    <br />
    <br />
    <br />
    <h3 class="header">ยังไม่มีโพลเกิดขึ้น</h1>
  </div>
  <div class="links-bar">
    <div class="links-app">
      <a href="https://itunes.apple.com/us/app/pollios/id901397748?ls=1&mt=8" class="link">
        <img src="/images/logo_app_store.png" alt="">
      </a>
    </div>
  </div>
</div>
