<div class="voter-container">
  <h3 class="header">ยังไม่มีโพลเกิดขึ้น</h1>
</div>
<a href="https://itunes.apple.com/us/app/pollios/id901397748?ls=1&mt=8" class="link">
  <img src="/images/logo_app_store.png" alt="">
</a>
