<header id="header">
  <!--<span id="logo"></span>-->

  <h1 class="logo pull-left">
    <img id="logo-image" class="logo-image" src="/images/logo/logo.png" alt="Logo">
    <span class="logo-title">POLLIOS</span>
  </h1>

  <span id="login-header-space"> <span class="hidden-mobile">Need an Brand account?</span> <a href="/users_signup" class="btn btn-danger">Creat account</a> </span>
</header>
    

<div id="main" role="main">
  <!-- MAIN CONTENT -->
  <div id="content" class="container">

    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm">
        <h1 class="txt-color-red login-header-big">Pollios</h1>
        <div class="hero">

          <div class="pull-left login-desc-box-l">
            <h4 class="paragraph-header">Neque porro quisquam est qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit...</h4>
            <div class="login-app-icons">
              <a href="javascript:void(0);" class="btn btn-danger btn-sm">Demo 1</a>
              <a href="javascript:void(0);" class="btn btn-danger btn-sm">Demo 2</a>
            </div>
          </div>
          
          <img src="/smartadmin/img/demo/iphoneview.png" alt="" class="pull-right display-image" style="height:400px">
          
        </div>

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Lorem ipsum dolor sit amet.</h5>
            <p>
              Duis ut scelerisque mi. Proin vulputate nibh turpis, ac vestibulum risus bibendum sed. Pellentesque bibendum sem dapibus nunc rutrum egestas. Ut condimentum rhoncus diam                </p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <h5 class="about-heading">Lorem ipsum dolor sit amet.</h5>
            <p>
              Duis ut scelerisque mi. Proin vulputate nibh turpis, ac vestibulum risus bibendum sed. Pellentesque bibendum sem dapibus nunc rutrum egestas. Ut condimentum rhoncus diam
            </p>
          </div>
        </div>

      </div>
      <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="well no-padding">
          <form action="/users_signin" method="post" id="login-form" class="smart-form client-form" data-remote="true">
            <header>
              Sign In
            </header>

            <fieldset>
              <section>
                <label class="label">E-mail</label>
                <label class="input"> <i class="icon-append fa fa-user"></i>
                  <input type="email" name="authen">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address</b></label>
              </section>

              <section>
                <label class="label">Password</label>
                <label class="input"> <i class="icon-append fa fa-lock"></i>
                  <input type="password" name="password">
                  <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
                <div class="note">
                  <a href="forgotpassword.html">Forgot password?</a>
                </div>
              </section>

              <section>
                <label class="checkbox">
                  <input type="checkbox" name="remember" checked="">
                  <i></i>Stay signed in</label>
              </section>
            </fieldset>
            <footer>
              <button type="submit" class="btn btn-primary" id="submit_signin" data-disable-with="Loading..." onclick="">
                Sign in
              </button>
            </footer>
          </form>

        </div>
        
        <h5 class="text-center"> - Or sign in using -</h5>
                          
                <ul class="list-inline text-center">
                  <li>
                    <a href="javascript:void(0);" class="btn btn-primary btn-circle"><i class="fa fa-facebook"></i></a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="btn btn-info btn-circle"><i class="fa fa-twitter"></i></a>
                  </li>
                  <li>
                    <a href="javascript:void(0);" class="btn btn-warning btn-circle"><i class="fa fa-linkedin"></i></a>
                  </li>
                </ul>
        
      </div>
    </div>
  </div>

</div>

<script>
  $.required_login = <%= flash.present? %>;
    var flash_list =  <%= raw manage_flash(flash) %>;

    $.title = flash_list[0];
    $.msg = flash_list[1];
    $.color = flash_list[2];
    $.icon = flash_list[3];

    if($.required_login) {

      $(window).bind("load", function() {
        $.smallBox({
          title : $.title,
          content : $.msg,
          color : $.color,
          timeout: 6000,
          icon : $.icon
        });
      });
    }

    runAllForms();

    $(function() {
      // Validation
      $("#login-form").validate({
        // Rules for form validation
        rules : {
          authen : {
            required : true,
            email : true
          },
          password : {
            required : true,
            minlength : 3,
            maxlength : 20
          }
        },

        // Messages for form validation
        messages : {
          authen : {
            required : 'Please enter your email address',
            email : 'Please enter a VALID email address'
          },
          password : {
            required : 'Please enter your password'
          }
        },

        // Do not change code below
        errorPlacement : function(error, element) {
          error.insertAfter(element.parent());
        }
      });
    });
</script>