<div class="well">
  <div class="row">
    <div class="col col-md-1">
      Poll
    </div>

    <div class="col col-md-5">
      <%= select_tag "campaign_poll", options_from_collection_for_select(@campaign.polls, "id", "title"), :include_blank => "Select poll" %>
    </div>

  </div>
  <br>

  <div class="row">
    <div class="col col-md-1">
      Questionnaire
    </div>

    <div class="col col-md-5">
      <%= select_tag "campaign_questionnaire", options_from_collection_for_select(@campaign.poll_series, "id", "description"), :include_blank => "Select questionnaire" %>
    </div>

  </div>

  <div id="campaign_with_poll">

  </div>

</div>


<script>
$(document).ready(function () {

  $.campaign_poll = $("#campaign_poll");
  $.campaign_questionnaire = $("#campaign_questionnaire");

  $.campaign_poll.select2({
      placeholder: "Select poll",
      width: '100%',
      allowClear: true
  }).on("change", function (e) {
    $.campaign_questionnaire.select2('data', null, false);
    $("#ajaxLoader").removeClass('fadeOut').addClass('fadeIn').show();
    $.get("/feedback/campaigns/<%= @campaign.id %>/load_poll", { poll_id: e.val } ).done(function () {
      $("#ajaxLoader").removeClass('fadeIn').addClass('fadeOut');
    })
    e.preventDefault();
  });

  $.campaign_questionnaire.select2({
      placeholder: "Select questionnaire",
      width: '100%',
      allowClear: true
  }).on("change", function (e) {
    $.campaign_poll.select2('data', null, false);
    $("#ajaxLoader").removeClass('fadeOut').addClass('fadeIn').show();
    $.get("/feedback/campaigns/<%= @campaign.id %>/load_questionnaire", { poll_series_id: e.val } ).done(function () {
      $("#ajaxLoader").removeClass('fadeIn').addClass('fadeOut');
    })
    e.preventDefault();
  });

});
</script>