<div class="well">
  <h1 class="page-header-all">
    <i class="fa fa-gift fa-fw"></i> 
      List Campaign
  </h1>

  <a href="<%= new_feedback_campaign_path %>" class="btn btn-primary">
    <i class="fa fa-plus"></i> Campaign
  </a>

</div>




