<div class="notfound-container">
  <h1 class="title">404</h1>
  <h2 class="reason">Sorry, The page you are looking for cannot be found.</h2>
  <h4 class="helper">Go back to <a href="/">Pollios</a></h4>
  <img class="image" src="https://s3.amazonaws.com/media.azw/28194_twemoji_1f62dsvgf.png">
</div>