<input class="hidden" id="poll_type_poll" name="poll[type_poll]" type="hidden" value="rating">

<section>
  <label class="label">Answer</label>
  <label class="input">
    <i class="fa fa-star fa-2x"></i>
  </label>
</section>

<section>
  <label class="label">Answer</label>
  <label class="input">
    <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i>
  </label>
</section>

<section>
  <label class="label">Answer</label>
  <label class="input">
    <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i>
  </label>
</section>

<section>
  <label class="label">Answer</label>
  <label class="input">
    <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i>
  </label>
</section>

<section>
  <label class="label">Answer</label>
  <label class="input">
    <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i> <i class="fa fa-star fa-2x"></i>
  </label>
</section>