<input class="hidden" id="poll_type_poll" name="poll[type_poll]" type="hidden" value="binary">

<section>
  <label class="label">Choice</label>
  <label class="input">
    <div class="form-group string optional poll_choice_one"><input class="string optional form-control" data-parsley-required="true" id="poll_choice_one" name="poll[choice_one]" type="text" value="Yes"></div>
  </label>
</section>

<section>
  <label class="label">Choice</label>
  <label class="input">
    <div class="form-group string optional poll_choice_two"><input class="string optional form-control" data-parsley-required="true" id="poll_choice_two" name="poll[choice_two]" type="text" value="No"></div>
  </label>
</section>