<form action="<%= choice.vote_url %>" method="post">
  <input type="hidden" name="choice_id" value="<%= choice.id %>" />
  <button class="choice" type="submit"><%= choice.answer %></button>
  <%= token_tag %>
</form>
