<div class="options_group">
  <span class="note">* Type of group is <u>Exclusive</u> (Don't edit)</span>
  <input type="hidden" name="group[public]" value="false" checked>

  <div class="form-inline" style="margin-top: 10px;">
    <div class="col-md-3">
      <label>Need approve to join group</label>
    </div>
    <div class="col-md-9">
      <input type="checkbox" name="group[need_approve]"/>
    </div>
  </div>

  <div class="form-inline" style="margin-top: 10px;">
    <div class="col-md-3">
      <label>Everybody see poll before join group</label>
    </div>
    <div class="col-md-9">
      <input type="checkbox" name="group[opened]"/>
    </div>
  </div>

  <% if current_company.company_admin %>
    <div class="form-inline">
      <div class="col-md-3">
        <label>System Group</label>
      </div>
      <div class="col-md-9">
        <input type="checkbox" name="group[system_group]" value="true"/>
      </div>
    </div>
    <div class="form-inline">
      <div class="col-md-3">
        <label>Can leave group</label>
      </div>
      <div class="col-md-9">
        <input type="checkbox" name="group[leave_group]" value="true"/>
      </div>
    </div>
  <% end %>
</div>
