<div class="options_group">

  <% if current_company.using_internal? && current_company.using_public? %>
    <div class="form-inline">
      <div class="col-md-2">
        <label>Public Group</label>
      </div>
      <div class="col-md-10">
        <input type="checkbox" name="group[public]" value="true"/>
      </div>
      <span class="note">* Default is Exclusive Group (Don't edit)</span>
    </div>
  <% elsif current_company.using_public? %>
    <span class="note">* Group type <u>Public Group</u> (Don't edit)</span>
    <input type="hidden" name="group[public]" value="true" checked>
  <% else %>
    <span class="note">* Group type is <u>Exclusive Group</u> (Don't edit)</span>
    <input type="hidden" name="group[public]" value="false" checked>
  <% end %>

  <div class="form-inline" style="margin-top: 10px;">
    <div class="col-md-2">
      <label>Don't Approve</label>
    </div>
    <div class="col-md-10">
      <input type="checkbox" name="group[need_approve]" value="false"/>
    </div>
  </div>

  <% if @find_company.company_admin %>
    <div class="form-inline">
      <div class="col-md-2">
        <label>System Group</label>
      </div>
      <div class="col-md-10">
        <input type="checkbox" name="group[system_group]" value="true"/>
      </div>
    </div>
    <div class="form-inline">
      <div class="col-md-2">
        <label>Can leave group</label>
      </div>
      <div class="col-md-10">
        <input type="checkbox" name="group[leave_group]" value="true"/>
      </div>
    </div>
  <% end %>
</div>