<div class="well">
<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark page-well-header">
        <%= image_tag(@group.photo_group.url(:thumbnail), size: '50x50') %> <%= link_to @group.name + ' Group', company_group_detail_path(@group), id: 'header-link'%> > Edit
    </h1>
  </div>
</div>
</div>
