<section id="widget-grid" class="">

  <!-- row -->
  <div class="row">

    <!-- NEW WIDGET START -->
    <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

      <!-- Widget ID (each widget will need unique ID)-->
      <div class="jarviswidget jarviswidget-color-blueDark" id="wid-list_groups" data-widget-editbutton="false">
        <!-- widget options:
        usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

        data-widget-colorbutton="false"
        data-widget-editbutton="false"
        data-widget-togglebutton="false"
        data-widget-deletebutton="false"
        data-widget-fullscreenbutton="false"
        data-widget-custombutton="false"
        data-widget-collapsed="true"
        data-widget-sortable="false"

        -->
        <header>
          <span class="widget-icon"> <i class="fa fa-building"></i> </span>
          <h2><%= @company.name %></h2>

        </header>

        <!-- widget div-->
        <div>

          <!-- widget edit box -->
          <div class="jarviswidget-editbox">
            <!-- This area used as dropdown edit box -->

          </div>
          <!-- end widget edit box -->

          <!-- widget content -->
          <div class="widget-body no-padding">

            <div class="table-responsive">
            
              <table class="table table-bordered header-center">
                <thead>
                  <tr>
                    <th>Cover</th>
                    <th>Group Name</th>
                    <th width='100'></th>
                  </tr>
                </thead>
                <tbody>
                  <% @company.groups.without_deleted.each do |group| %>
                  <tr>
                      <td><%= group.decorate.show_cover_group %></td>
                      <td><%= group.name %></td>
                      <td>
                        <% unless @member_group_active.include?(group.id) %>
                        <a href="<%= add_user_to_group_path(member_id: @member.id, group_id: group.id) %>" id="add_user_to_group" class="btn btn-primary" data-remote="true" data-method="post"><i class="fa fa-plus"></i> Add</a>
                        <% else %>
                        <a href="javascript:void(0)" id="add_user_to_group" class="btn btn-primary disabled btn-success" data-remote="true" data-method="post"><i class="fa fa-check"></i> Joined</a>
                        <% end %>
                      </td>
                  </tr>
                  <% end %>
                </tbody>
              </table>
              
            </div>
          </div>
          <!-- end widget content -->

        </div>
        <!-- end widget div -->

      </div>
      <!-- end widget -->

    </article>
    <!-- WIDGET END -->


  </div>

  <!-- end row -->

  <!-- row -->
</section>

<script>
$(document).ready(function () {
  $.add_button_to_group = $('#add_user_to_group[data-remote]');
  
  $.add_button_to_group.on('ajax:send', function(xhr) {
  $("#ajaxLoader").removeClass('fadeOut').addClass('fadeIn').show();
  }).on('ajax:success', function (data, status, xhr) {
    $("#ajaxLoader").removeClass('fadeIn').addClass('fadeOut');
    $(this).addClass('disabled btn-success').html("<i class='fa fa-check'></i> Added")

  }).on('ajax:error', function (event, xhr, status) {
    $("#ajaxLoader").removeClass('fadeIn').addClass('fadeOut');
    var json_response = JSON.parse(xhr.responseText);
    handleErrorAddGroup(json_response.error_message);

  });

  function handleErrorAddGroup (error_message) {
    $.smallBox({
      title : "Warning",
      content: error_message,
      color: "#C46A69",
      icon: "fa fa-warning",
      timeout: 6000
    });
  }
});
</script>