    <section style="margin-bottom: 0px;">
      <label class="label">Choice</label>
      <label class="input">
        <%= f.input :answer, label: false %>
      </label>
    </section>
    <%= f.link_to_remove "Remove", class: "removeclass", id: 'remove_choice' %>