<div id="qrcode">
  <img src="<%= qr_code(200, @qrcode) %>" alt="qrcode" style=""/>
<!--   <img style="position: absolute; top: 288px; left: 101px; height: 30px; width: 30px;" src="/img/appicon72x72.png" /> -->
</div>