<div class="sidebar-container">
  <a href="#" class="icon-button">
    <i class="fa fa-dashboard"></i>
    <div class="text">Dashboard</div>
  </a>
  <a href="#" class="icon-button">
    <div class="icon"></div>
    <div class="text">Polls</div>
  </a>
</div>