<footer class="bottom-menu">
  <a href="/v1/admin/dashboard" class="link <%= active_menu?(@current_page, 'dashboard') %>">
    <i class="fa fa-home"></i>
    <span class="text">Dashboard</span>
  </a>
  <a href="/v1/admin/polls" class="link <%= active_menu?(@current_page, 'polls') %>">
    <i class="fa fa-list-alt"></i>
    <span class="text">Polls</span>
  </a>
</footer>
