<div data-remodal-id="qr_modal" class="remodal qr-modal">
  <header class="header">
    <h5 class="title">VOTE NOW ON</h5>
    <h3 class="brand">POLLIOS</h3>
    <button data-remodal-action="close" class="close"><i class="ion-ios-close-empty"></i></button>
  </header>
  <section class="body">
    <div class="use-app">
      <h5 class="title">USING POLLIOS APP</h5>
      <div class="links">
        <a href="<%= poll_open_app_url %>" class="link">
          <img src="/images/logo_pollios_h.png" alt="">
        </a>
        <a href="https://itunes.apple.com/us/app/pollios/id901397748?ls=1&mt=8" class="link">
          <img src="/images/logo_app_store.png" alt="">
        </a>
      </div>
    </div>
    <div class="qrcode">
      <h5 class="title">USING THIS QR CODE</h5>
      <img class="image" src="<%= qrcode_url %>" alt="">
    </div>
    <% unless member_signed_in? %>
      <%= render(partial: 'v1/partials/polls/modal/sign_in_form') %>
    <% end %>
</div>
