<div id="qrcode_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="qrcode-modal">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="title">VOTE NOW ON <span class="app">POLLIOS</span> USING THIS QR CODE</div>
    <img class="qrcode" src="<%= qrcode_url %>" alt="">
    <div class="links-app horizontal">
      <a href="<%= poll_link %>" class="link">
        <img src="/images/logo_pollios_h.png" alt="">
      </a>
      <a href="#" class="link">
        <img src="/images/logo_app_store.png" alt="">
      </a>
    </div>
  </div>
</div>