li.parsley-required {
  display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: #D56161;
}

a.removeclass {
  font-size: 11px;
  color: gray;
  display: initial;
}