li.parsley-required {
  display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: #D56161;
}

a.removeclass {
  font-size: 11px;
  color: gray;
  display: initial;
}

div.fields {
  padding-bottom: 10px;
}

div.panel-heading {
  padding: 6px 15px;
}

div.panel {
  margin-bottom: 30px;
}

a.btn.btn-primary.add_nested_fields {
  padding: 0px 12px;
  font: 200 13px/29px 'Open Sans',Helvetica,Arial,sans-serif;
}

.panel-body > section {
  padding: 15px 25px;
}

.panel-body > section.collect_choices {
  margin-top: -30px;
}

span.remove_poll {
  float: right;
  margin: 10px;
}

.select2-container-multi .select2-choices {
  margin-top: -1px;
  margin-left: -1px;
}

h1.logo {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  max-height: 50px;
}
h1.logo {
  color: #444444;
}
h1.logo img {
  margin-right: 5px;
  max-height: 40px;
  margin-top: -6px;
  margin-left: 7px;
}
h1.logo .logo-title {
  vertical-align: middle;
}

a.logo {
  color: #444444;
}

a.logo:hover {
  color: #444444;
  text-decoration: none;
}