li.parsley-required {
  display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: #D56161;
}

a.removeclass {
  font-size: 11px;
  color: gray;
  display: initial;
}

div.fields {
  padding-bottom: 10px;
}

div.panel-heading {
  padding: 6px 15px;
}

div.panel {
  margin-bottom: 30px;
}

a.btn.btn-primary.add_nested_fields {
  padding: 0px 12px;
  font: 200 13px/29px 'Open Sans',Helvetica,Arial,sans-serif;
}

.panel-body > section {
  padding: 15px 25px;
}

.panel-body > section.collect_choices {
  margin-top: -30px;
}

span.remove_poll {
  float: right;
  margin: 10px;
}

.select2-container-multi .select2-choices {
  margin-top: -1px;
  margin-left: -1px;
}

h1.logo {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  max-height: 50px;
}
h1.logo {
  color: #444444;
}
h1.logo img {
  margin-right: 5px;
  max-height: 40px;
  margin-top: -6px;
  margin-left: 7px;
}
h1.logo .logo-title {
  vertical-align: middle;
}

a.logo {
  color: #444444;
}

a.logo:hover {
  color: #444444;
  text-decoration: none;
}

.icon-btn {
  height: 60px;
  min-width: 80px;
  margin: 5px 5px 0 0;
  border: 1px solid #ddd;
  padding: 12px 0px 0px 0px;
  background-color: #fafafa !important;
  background-image: none !important;
  filter:none !important;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  display:inline-block !important;
  color: #646464 !important;
  text-shadow: none !important;
  text-align: center;
  cursor: pointer;
  position: relative;  
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
}

.icon-btn i {
  font-size: 18px;
}

.ie8 .icon-btn:hover {
  filter: none !important;
} 

.icon-btn:hover {
  text-decoration: none !important;
  border-color: #999 !important;
  color: #444 !important;
  text-shadow: 0 1px 0px rgba(255, 255, 255, 1) !important;
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}

.icon-btn:hover .badge {
  -webkit-transition: all 0.3s ease !important;
  -moz-transition: all 0.3s ease !important;
  -ms-transition: all 0.3s ease !important;
  -o-transition: all 0.3s ease !important;
  transition: all 0.3s ease !important;
  -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
}

.icon-btn div {
  font-family: 'Open Sans', sans-serif;
  margin-top: 5px;
  margin-bottom: 20px;  
  color: #000;
  font-size: 12px;
  font-weight: 300;
}

.icon-btn .badge {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 11px !important;
  font-weight: 300;
  top: -5px;
  right: -5px;
  padding: 3px 6px 3px 6px;
  color: white !important;
  text-shadow: none;
  border-width: 0;
  border-style: solid;
  -webkit-border-radius: 12px !important;
  -moz-border-radius: 12px !important;
  border-radius: 12px !important;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
