/* ======= Header ======= */

h1.logo {
  margin-bottom: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 28px;
  max-height: 50px;
}
h1.logo {
  color: #444444;
}
h1.logo img {
  margin-right: 5px;
  max-height: 50px;
}
h1.logo .logo-title {
  vertical-align: middle;
}

em.error {
  display: block;
  margin-top: 6px;
  padding: 0 1px;
  font-style: normal;
  font-size: 11px;
  line-height: 15px;
  color: #D56161;
}