.stats-title {
  font-weight: 500;
}

span.count {
  font-size: 44px;
  font-weight: 600;
}

.panel-title.stats {
  text-align: center;
  font-size: 24px;
  letter-spacing: 1px;
}

.filter {
  margin: 20px 0px;
}

.section-title {
  display: inline-block;
  border-bottom: 1px solid #333;
  margin: 0 0 15px 0;
  padding: 0 0 5px 0;
  font-size: 20px;
  font-weight: 500;
  text-transform: capitalize;
  position: relative;
  overflow: hidden;
}