.left-inner {
  font-family: "Roboto";
  img {
    float: left;
    margin: 0px 10px 10px 0px;
    width: 150px;
  }
  h1 {
    font-weight: normal;
  }
}


span.group_label {
  margin: 0px 4px 4px 0px;
  border: 1px solid rgb(237, 237, 237);
  padding: 4px;
  background: rgb(250, 250, 250);
  border-radius: 10px;
}

.member-profile {
  font-size: 14px;
}

.text-mute {
  span {
    color: #808080;
  }
}

ul.list-unstyled.list-inline.summary {
  font-size: 12px;
  margin-top: 5px;
}