$main-color: red;

.link-guide {
  color: $main-color;
}

.checkbox-surveyor {
  margin: 30px;
}

img.img-surveyor {
  margin-left: 5px;
  margin-right: 5px;
}

.page-header-all {
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 30px;
}