$main-color: red;

.link-guide {
  color: $main-color;
}

.checkbox-surveyor {
  margin: 30px;
}

img.img-surveyor {
  margin-left: 5px;
  margin-right: 5px;
}

.page-header-all {
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 30px;
}

.btn-pill {
  border-radius: 10px;
  line-height: 2px;
  font-size: 11px;
}

.filter-other {
  margin-top: 14px;
}

.btn-filter {
  padding: 6px;
}

.summary-questionnaire {
  h5 {
    font-size: 14px !important;
  } 
}

.breadcrumb {
  background-color: #FBFBFB;
  border-radius: 5px;
}

.breadcrumb > li {
  display: inline;
}

input.check_box_branch {
  margin-right: 10px;
}

td {
  font-size: 12px !important;
}

ol.breadcrumb {
  font-size: 12px;
}

.update-button {
  border-top: 1px solid rgb(230, 230, 230);
  padding-top: 20px;
  margin-top: 50px;
}

label.collection_radio_buttons {
  margin-right: 20px;
  margin-left: 5px;
}

.section-title {
  font-size: 16px;
  font-weight: 700;
}

.dropdown-custom {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 6px -4px 0px;
  list-style: none;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 2px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  box-shadow: 0 6px 12px rgba(0,0,0,0.175);
  background-clip: padding-box;
}

a.text-mute {
  color: rgb(179, 179, 179) !important;
}

.note {
  margin-bottom: 10px;
}

.alert {
  font-size: 18px !important;
  font-family: "Roboto";
}

.btn-fullwidth {
  width: 100%;
}

.disabled label {
  color: rgb(157, 157, 157);
}

ul#parsley-id-multiple-poll_seriesbranch_list {
  position: absolute;
  top: -10px;
  left: 110px;
}

ul#parsley-id-multiple-poll_seriesgroup_id {
  position: absolute;
  top: -10px;
  left: 110px;
}

ul#parsley-id-multiple-pollgroup_id {
  position: absolute;
  top: -10px;
  left: 110px;
}

h1.poll-title {
  padding-bottom: 20px;
}

.poll-title-detail {
  padding-bottom: 20px;
}

.input.field_choice {
  margin-bottom: 10px;
}

.remove_field_choice {
  margin-top: 5px;
  left: 10px;
}

a.morechoice {
  margin-right: 100px;
}

.options_group {
  font-size: 11px;
}

input.disabled {
  color: gray;
}

.tooltip {
  opacity: 1;
}