$main-color: red;

.link-guide {
  color: $main-color;
}

.checkbox-surveyor {
  margin: 30px;
}

img.img-surveyor {
  margin-left: 5px;
  margin-right: 5px;
}

.page-header-all {
  border-bottom: 1px solid rgb(229, 229, 229);
  padding-bottom: 30px;
}

.btn-pill {
  border-radius: 10px;
  line-height: 2px;
  font-size: 11px;
}

.filter-other {
  margin-top: 14px;
}

.btn-filter {
  padding: 6px;
}

.summary-questionnaire {
  h5 {
    font-size: 14px !important;
  } 
}

.breadcrumb {
  background-color: #FBFBFB;
  border-radius: 5px;
}

.breadcrumb > li {
  display: inline;
}

input.check_box_branch {
  margin-right: 10px;
}

td {
  font-size: 12px !important;
}

ol.breadcrumb {
  font-size: 12px;
}

.update-button {
  border-top: 1px solid rgb(230, 230, 230);
  padding-top: 20px;
  margin-top: 50px;
}