$nav-bar-color: #d32053;
$font-color: #d32053;
$choice-color: #F2F2F2;

body {
    background: white;
}

#content {
    font-family: "Roboto";
    -webkit-font-smoothing: antialiased;
    .well {
        margin-left: -5px;
        margin-right: -5px;
        border-bottom: 1px solid whitesmoke;
    }
}

.font-big {
    font-size: 50px;
}
.fixed-header {
    #header {
        border-bottom: none !important;
        box-shadow: none !important;
    }
}
#header {
    background: $nav-bar-color !important;
}

.mobile {
    p, h1, h2, h3, h4, h5 {
        color: $font-color;
    }
    #content {
        padding: 0px;
    }
}
.sub-header {
    padding: 0px;
}
.poll-title {
    font-size: 18px;
    margin-bottom: 30px;
}
.choice {
    background: $choice-color;
    padding: 10px;
}
.choice.active {
    background: $nav-bar-color;
    p {
        color: white;
    }
}
.row-centered {
    text-align: center;
}
.col-centered {
    display: inline-block;
    float: none;
    text-align: center;
    margin-right: 0px;
}
.well {
    margin-bottom: 10px;
}
.btn-custom {
    width: 100%;
    color: #fff;
    background-color: $nav-bar-color;
    border-color: $nav-bar-color;
    &:hover {
        background-color: $nav-bar-color;
        border-color: $nav-bar-color;
    }
}
.btn-custom[disabled] {
    background-color: $nav-bar-color;
    border-color: $nav-bar-color;
    &:hover {
        background-color: $nav-bar-color;
        border-color: $nav-bar-color;
    }
}
.logo-creator {
    margin-top: 20px;
}
img#image-navbar {
    margin-top: 5px;
    margin-right: 10px;
}
#logo-group {
    width: 140px !important;
}
#toggle-menu {
    margin-top: 10px;
    font-size: 18px;
    margin-left: 10px;
}
#toggle-menu i.fa.fa-reorder {  
    color: white;
}
a.recent_view {
    color: #d32053;
}

em.invalid {
    font-size: 11px;
}

.well.sub-header {
    border-bottom: 1px solid rgb(223, 223, 223) !important;
    border-radius: 0px;
}

i.fa.fa-pollios {
    background-image: url('/mobile/images/pollios_social.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.btn-pollios {
    &:active {
        color: white !important;
    }
    &:hover {
        color: white !important;
    }
}

button#submit_signin {
    text-align: center;
    width: 100%;
}

button#register_submit {
    text-align: center;
    width: 100%;
}
    
@media only screen and (max-width: 479px) and (min-width: 320px) {
    #main {
        margin-left: 0px;
    }

    .well {
        margin-top: -10px;
        border: none;
    }
    #content {
        padding: 0px !important;
    }
    .smart-accordion-default.panel-group .panel-title a {
        padding: 8px 10px;
        font-weight: 600;
        font-family: "Roboto";
    }
}   
