a.readmore-poll-title {
  margin-top: 15px;
  font-size: 10px;
  font-weight: 700;
  text-decoration: underline;
}

a.close-poll-title {
  margin-top: 15px;
  font-size: 10px;
  font-weight: 700;
  text-decoration: underline;
}