<h1 class="title">Overview</h1>
<div class="stats-list">
  <div class="stats-container">
    <h2 class="counter">
      <%= @usage_stats[:voted] %>
    </h2>
    <div class="desc">
      Vote happened.
    </div>
  </div>
  <div class="stats-container">
    <h2 class="counter">
      <%= @usage_stats[:poll_created] %>
    </h2>
    <div class="desc">
      Poll created.
    </div>
  </div>
  <div class="stats-container">
    <h2 class="counter">
      <%= @usage_stats[:active_users] %>
    </h2>
    <div class="desc">
      Active users.
    </div>
  </div>
</div>