<div class="row">
  <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
    <h1 class="page-title txt-color-blueDark">
    <i class="fa-fw fa fa-file-o"></i> Graph <span>&gt;
      <b>Poll created on 30 days ago</b></span></h1>
  </div>
</div>

<div class="jarviswidget jarviswidget-color-darken" id="wid-poll-created-30-days-ago" data-widget-editbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false" data-widget-fullscreenbutton="false">
  <header>
    <span class="widget-icon"> <i class="fa fa-gift"></i> </span>
    <h2><strong>Poll created on 30 days ago</strong></h2>          
  </header>

  <!-- widget div-->
  <div>
    
    <!-- widget content -->
    <div class="widget-body" style="min-height: 0px;">
      <!-- <div id="poll_created_30_days_ago" style="height: 250px;"></div> -->
      <%= content_tag :div, "", id: 'poll_created_30_days_ago_chart', data: { polls: polls_30_days_ago_chart } %>
    </div>
    <!-- end widget content -->
    
  </div>
  <!-- end widget div -->

</div>

<%= render partial: 'stats_total', locals: { total_all_stats: total_all_stats } %>