<br>

<div class="well">
  <h1>Public Poll Summary</h1>
  <div class="table-responsive">
                    
  <table class="table table-bordered">
    <thead>
      <tr>
        <th></th>
        <th>Today</th>
        <th>Yesterday</th>
        <th>Week ago</th>
        <th>Month ago</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Public All</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Public Only Citizen</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
      <tr>
        <td>Public Only Brand or Celebrity</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
        <td>0</td>
      </tr>
    </tbody>
  </table>
                      
  </div>
</div>








<script>
  $("#filter").remove();
</script>