<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Pollios : Raise Your Hand</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="google" value="notranslate">
    <meta name="viewport" content="width=1024, maximum-scale=2.0, user-scalable=yes"  />

    <meta name="content owner" content="">
    <meta name="author" content="Pollios : Raise Your Hand">
    <meta name="og:title" content="Pollios">
    <meta name="og:description" content="Raise Your Hand">
    <meta name="og:image" content="../assets/images/shared/fb.jpg">
    <meta name="og:site_name" content="Pollios : Raise Your Hand">
    <meta name="google-site-verification" content="I2xo0fFPaR3DKiQhcqD5MnlpSUUKDnEQMksDzYVTJnM" />

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">
    
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/vendor/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../assets/css/non-responsive.css" rel="stylesheet">
    <link href="../assets/css/fonts.css" rel="stylesheet">
    <link href="../assets/css/default.css" rel="stylesheet">
    <link href="../assets/css/home.css" rel="stylesheet">
    <link href="../assets/css/retina.css" rel="stylesheet">
    
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../assets/js/vendor/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../assets/js/vendor/ie10-viewport-bug-workaround.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../assets/js/vendor/html5shiv.min.js"></script>
      <script src="../assets/js/vendor/respond.min.js"></script>
      <script src="../assets/js/vendor/modernizr-2.8.2.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="wrapper">
      <div class="container">
            <header>
              <div class="row">
                <div class="col-xs-3 logo"><a href="#">Pollios : Raise Your Hand</a></div>
                <!-- Static navbar -->
                <div class="col-xs-9 no-padding">
                    <div class="navbar navbar-default navbar-static-top" role="navigation">
                        <div class="container">
                            <div class="navbar-collapse collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="#">How Pollios Works</a></li>
                                    <li><a href="#">What is Pollios</a></li>
                                    <li><a href="#">Corporate Client</a></li>
                                    <li><%= mail_to "polliosadmin@code-app.com", "Contact Us" %></li>
                                </ul>
                            </div>
                            <!--/.nav-collapse -->
                        </div>
                    </div>
                </div>
                </div>
            </header>
            <section class="section-01">
              <div class="col-xs-3">
                  <h2>Hello!</h2>
                    <p>You can start using POLLIOS by download our mobile application on iPhone and Android (coming 2015).</p>
                    <a href="https://itunes.apple.com/us/app/pollios/id901397748" class="download-app">Available on the <br>App Store</a>
                </div>
                <div class="col-xs-6 featured">
                  <div class="row">
                        <div class="mobile-slide">
                          <div class="image-carousel">
                                <div id="slide">
                                  <img src="../assets/images/home/mobile-slide-02.png" width="200" height="350">
                                    <img src="../assets/images/home/mobile-slide-01.png" width="200" height="350">
                                    <img src="../assets/images/home/mobile-slide-03.png" width="200" height="350">
                                    <img src="../assets/images/home/mobile-slide-04.png" width="200" height="350">
                                </div>
                                <div class="clearfix"></div>
                                <div class="pagination" id="slide-pag"></div>
                            </div>
                        </div>
                        <div class="col-xs-6 col-xs-offset-6 txt">
                            <span>Pollios,</span><br>
                            New Way<br>
                            to Survey
                            <p>Let you know more,<br>by doing less.</p>
                        </div>
                    </div>
                    <div class="row">
                       <ul class="col-xs-7  download">
                          <li><a href="#"><span>How to</span><br>start using Pollios</a></li>
                            <li><a href="https://itunes.apple.com/us/app/pollios/id901397748"><span>Download</span><br>Pollios for iPhone</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-3 polls">
                  <h3>POPULAR POLLS</h3>
                    <ul>
    <!--                   <li>
                          <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a>
                        </li>
                        <li>
                          <a href="#">Nunc vitae mi sed enim vestibulum gravida non id purus. Donec venenatis </a>
                            <p><img src="../assets/images/home/thumb-poll-01.png" class="img-responsive" alt="Responsive image"></p>
                        </li>
                        <li>
                          <a href="#">Proin hendrerit ornare sapien vitae bibendum. Fusce sit amet sapien erat. </a>
                        </li>
                        <li>
                          <a href="#">In iaculis nibh dui, sagittis scelerisque est euismod vel.</a>
                        </li>
                        <li>
                          <a href="#">Donec hendrerit pulvinar tristique.</a>
                        </li> -->
                      <% @popular_poll.each do |poll| %>
                        <li>
                          <%= link_to poll.title, '#' %>
                          <%= poll_that_image(poll) %>
                        </li>
                      <% end %>
                    </ul>
                </div>
            </div>
     </section> 
      <section class="section-02">
          <div class="container">
                <div class="mobile-hand">
                    <h3>A simple question, <br>should get one simple answer</h3>
                    <p>Asking one question always get thousands of answer, <br>while all we need is just a simple one.  </p>
                    <p>A simple graphic one may be?</p>
                    <p><strong>Pollios is an app for that.</strong></p>
                </div>
          </div>
       </section>
       <section class="section-03">
          <div class="container">
                <div class="mobile">
                  <h2>Survey is always about asking,<br>why don’t make it “challenging”</h2>
                    <h4>
                    Asking is not fun, challenging is.<br>
                    Giving something back to users is not only producing fun,<br>
                    but also one great way to get more answers.<br>
                    Well, the quality answers.
           </h4>
                </div>
          </div>
       </section>
<!--        <section class="section-04">
          <div class="container">
          <h2 class="text-center">Pollios Exclusive Clients</h2>
                <ul>
                     <li class="col-xs-2"><a href="#">Uniliver</a></li>
                     <li class="col-xs-2"><a href="#">Ptt</a></li>
                     <li class="col-xs-2"><a href="#">adidas</a></li>
                     <li class="col-xs-2"><a href="#">Emirates</a></li>
                     <li class="col-xs-2"><a href="#">Bangkok Airways</a></li>
                     <li class="col-xs-2"><a href="#">IBM</a></li>
                </ul>
          </div>
       </section> -->
       <footer>
        Copyright © 2014 Pollios Co., Ltd.  All rights reserved.
       </footer>
   </div>  


    <!-- Bootstrap core JavaScript
  ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/vendor/jquery.min.js"></script>
    <script src="../assets/js/vendor/bootstrap.min.js"></script>
    <script src="../assets/js/vendor/jquery.touchSwipe.min.js"></script>
    <script src="../assets/js/vendor/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="../assets/js/home.js"></script>

    <!--[if lte IE 8]>
        <script src="../assets/js/vendor/selectivizr-min.js"></script>
    <![endif]-->

    <!--Google analytics-->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50947005-1', 'auto');
      ga('send', 'pageview');

    </script>
    <!--end Google analytics-->
  </body>
</html>