<nav class="navbar-container">
  <a href="/" class="logo">
    <img src="http://pollios.com/assets/pollios_webLogo@2x-2bb08c5287b8429c2b2c5a3bc4a5d433.png">
  </a>
  <button class="member">
    <img class="avatar" src="<%= member.avatar %>" />
    <span class="name"><%= member.fullname %></span>
    <div class="dropdown">
      <div class="menu">
        <a href="/auth/signout">Log out</a>
      </div>
    </div>
  </button>
</nav>
